.header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.inner {
  padding: 0 30px; /*左右の余白確保*/
  display: flex; /*ロゴとハンバーガーメニューを横に並べる*/
  align-items: center;
  /* justify-content: space-between; */
  height: inherit;
  position: relative;
}

/* ハンバーガーメニュー */
.header__hamburger {
  position: inherit;
  margin-left: auto;
  width: 48px;
  height: 100%;
}

.hamburger {
  margin-left: auto;
  background-color: transparent; /*buttonタグデフォルトスタイルを打ち消し*/
  border-color: transparent; /*buttonタグデフォルトスタイルを打ち消し*/
  z-index: 9999;
  cursor: pointer;
}

a {
  font-family: 'Montserrat', sans-serif;
}
span {
  font-weight: bold;
}

/* .flex {


  display: block;
  text-align: center;
  height: 100px;
}

.logo {
  height: 100px;
}

.span {
  margin: auto auto;
}

.icon {
  display: block;
  text-align: right;
} */
