@keyframes up {
  0% {
  bottom: -300vh;/* 透明 */
  left: -30vw;
  }
  100% {
  bottom: -270vh;/* 透明 */
  left: -15vw;
  }
}

.triangle {
  background-color: blue;
  width: 2000px;
  height: 2000px;
  position: absolute;
  clip-path: polygon(-50% 0, 0% 100%, 70% -50%);
  animation-name: up ;
  animation-iteration-count: infinite;
  animation-duration: 1s
}


@keyframes from-left {
  0% {
  bottom: 20vw;/* 透明 */
  left: -20vw;
  }
  100% {
    bottom: 20vw;/* 透明 */
    left: -10vw;
  }
}

@keyframes from-buttomright {
  0% {
  bottom: -40vw;/* 透明 */
  right: -20vw;
  }
  100% {
    bottom: -30vw;/* 透明 */
    right: -10vw;
  }
}

@keyframes from-topright {
  0% {
  top: -60vw;/* 透明 */
  right: -70vw;
  }
  100% {
    top: -40vw;/* 透明 */
    right: -50vw;
  }
}




.triangle2 {
  background-color: blue;
  width: 1000px;
  height: 500px;
  position: absolute;
  clip-path: polygon(0% 0, 0% 100%, 100% 80%);
  animation-name: from-left ;
  animation-iteration-count: infinite;
  animation-duration: 1s
}

.triangle3 {
  background-color: blue;
  width: 200px;
  height: 500px;
  position: absolute;
  clip-path: polygon(0% 0, -20% 80%, 100% 100%);
  animation-name: from-buttomright ;
  animation-iteration-count: infinite;
  animation-duration: 1s
}

.triangle4 {
  background-color: blue;
  width: 500px;
  height: 400px;
  position: absolute;
  clip-path: polygon(0% 0, -80% 100%, 50% 80%);
  animation-name: from-topright ;
  animation-iteration-count: infinite;
  animation-duration: 1s
}

